@using Contact.Application.Models.Response;
@using Contact.MVCTelerik.Models;
@model ContactViewModel;
<div class="">
    <div class="container mt-5">
        <h1>Enter Your Details</h1>
        @(Html.Kendo().Form<ContactViewModel>()
            .Name("testKendoForm")
            .HtmlAttributes(new { action = @Url.Action("Edit", "Contact", new { contactId = Model.Response.Contact.ContactId }), method = "POST" })
            .Items(items =>
            {
                items.Add()
                .Field(f => f.UpdateRequest.Name)
                .Label(l => l.Text("Name:"));
                items.Add()
                .Field(f => f.UpdateRequest.Surname)
                .Label(l => l.Text("Surname:"));
                items.Add()
                .Field(f => f.UpdateRequest.Email)
                .Label(l => l.Text("Email:"));
                items.Add()
                .Field(f => f.UpdateRequest.Phone)
                .Label(l => l.Text("Phone:").Optional(true));
                items.Add()
                .Field(f => f.UpdateRequest.Address)
                .Label(l => l.Text("Address:").Optional(true));
            }))
    </div>
</div>